#editor1 { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:800px;
    height:550px;
    margin-top:60px;
    margin-bottom:3px;
    

}



#frame{
    position:auto;
    margin-left:60%;
    margin-top:27px;
    width:540px;
    height:550px;
    border: 1px solid black;
    
}